@import '../../colors/colors.css';

#experience{
    padding: 0 0 3.75rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.expWrapper{
    width: 100%;
    max-width: 68rem;
    padding: 3rem 0;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.expTitle{
    color: var(--text-primary);

    font-size: 2.75rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.25rem;
}

.expDesc {
    color: var(  --text-secondary);

    max-width: 40rem;
    font-size: 1.2rem;
    text-align: center;
}

.expTimeLine{
    width: 100%;
    max-width: 65rem;
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}


@media screen and (max-width: 960px) {
    #experience{
        padding: 0;
    }
    .expWrapper{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .expTitle{
        margin-top: 0.75rem;
        font-size: 2rem;
    }
    .expDesc{
        margin-top: 0.75rem;
        font-size: 1rem;
    }
}